<div class="container mt-4">
  <div class="row">
    <div class="mx-auto">
      <h1 class="my-4 text-center">
        Welcome to
        <i class="fas fa-book"></i>
        <strong>Bookers</strong>!!
      </h1>
      <p class="text-center">
        In <i class="fas fa-book"></i><strong>Bookers</strong>,
      </p>
      <p class="text-center">you can share and exchange your opinions,impressions,and opinions</p>
      <p class="text-center">about various books! </p>
      <div class="btn-wrapper col-10 mx-auto">
        <div class="row">
          <a class="btn btn-outline-info btn-sm btn-block my-3 sign_in" href="/users/sign_in">login</a>
        </div>
        <div class="row">
          <a class="btn btn-outline-success btn-sm btn-block sign_up" href="/users/sign_up">sign up</a>
        </div>
      </div>
    </div>
  </div>
</div>